{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 45",
          "Firefox >= 35",
          "ie >= 9",
          "last 5 versions",
          "Safari >= 7"
        ]
      }
    }]
  ]
}
