/*
 * Custom CSS styes for example page
 */

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 3px rgba(20,20,20,.05), 0 3px 6px rgba(20,20,20,.065);
}

header ul {
  list-style-type: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav-list li {
  margin-bottom: 0;
  white-space: nowrap;
}

.nav-item {
  position: relative;
}

.nav-item:nth-of-type(n+2) {
  margin-left: 1rem;
}

.nav-list a {
  color: #111;
  transition: color .25s cubic-bezier(.4,0,1,1);
}

.nav-list a:focus,
.nav-list a:hover {
  color: #999;
}

.nav__inner-list {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.nav-list a:focus + ul,
.nav-list a:hover + ul,
.nav-list a:focus + ul:focus,
.nav-list a:hover + ul:hover {
  display: block;
}

header + div {
  margin-top: 100px;
}

/* Value propositin */

.section--value-props {
  text-align: center;
}

.section--value-props h2 {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.value-props--icon-container {
  margin-bottom: 1.75rem;
}

/* Grid example */

.example-grid [class^="ether-md-"] {
  margin-bottom: .75rem;
  height: 32px;
  font-size: .85rem;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  background: #eee;
  border-radius: 4px;
}

.example-grid [class^="ether-md-"]:nth-of-type(n+2) {
  border-left: 4px solid #fff;
}

.section--grid-ext .ether-md-23:first-of-type {
  width: 95.3%;
}

/* Footer */

footer {
  padding-bottom: 2rem;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .85rem;
  text-align: center;
}
