/* Base */

// Set box-sizing globally to handle padding and border widths
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes
      -ms-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes indentation
  -ms-touch-action: manipulation; // sass-lint:disable-line no-vendor-prefixes
      touch-action: manipulation; // sass-lint:disable-line no-vendor-prefixes indentation
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio {
  &:not([controls]) {
    display: none;
    height: 0;
  }
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

progress {
  vertical-align: baseline;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

template,
[hidden] {
  display: none;
}
