/* Buttons */

// sass-lint:disable declarations-before-nesting
button,
[type='button'],
[type='reset'],
[type='submit'],
.btn {
  // Resets
  -webkit-appearance: button; // sass-lint:disable-line no-vendor-prefixes
     -moz-appearance: button; // sass-lint:disable-line no-vendor-prefixes indentation
  font: inherit;
  // line-height: 1;
  text-transform: uppercase;

  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    padding: 0;
    border-style: none;
  }

  &:-moz-focusring { // sass-lint:disable-line no-vendor-prefixes
    outline: 1px dotted ButtonText;
  }

  // Custom styles
  display: inline-block;
  padding-top: remy(12px);
  padding-right: remy(28px);
  padding-bottom: remy(12px);
  padding-left: remy(28px);
  margin-bottom: 1rem;
  font-size: .75rem;
  color: $color--black;
  line-height: 1.382;
  text-decoration: none;
  letter-spacing: .1rem;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid $color--border;
  border-radius: $radius--full;
  cursor: pointer;

  @include transition(all);

  &:focus,
  &:hover {
    color: lighten($color--black, $fib--ten);
    border-color: darken($color--border, $fib--nine);
  }

  &:focus {
    outline: 0;
  }

  &--alert,
  &--disabled,
  &--green,
  &--primary,
  &--secondary {
    color: #fff;

    &:focus,
    &:hover {
      color: #fff;
    }
  }

  &--alert {
    background-color: $color--accent;
    border-color: $color--accent;

    &:focus,
    &:hover {
      background-color: darken($color--accent, $fib--eight);
      border-color: darken($color--accent, $fib--eight);
    }
  }

  &--disabled {
    background-color: $color--border;
    border-color: $color--border;
    cursor: default;

    &:focus,
    &:hover {
      background-color: $color--border;
      border-color: $color--border;
    }
  }

  &--green {
    background-color: $color--green;
    border-color: $color--green;

    &:focus,
    &:hover {
      background-color: darken($color--green, $fib--eight);
      border-color: darken($color--green, $fib--eight);
    }
  }

  &--primary {
    background-color: $color--primary;
    border-color: $color--primary;

    &:focus,
    &:hover {
      background-color: darken($color--primary, $fib--eight);
      border-color: darken($color--primary, $fib--eight);
    }
  }

  &--secondary {
    background-color: $color--secondary;
    border-color: $color--secondary;

    &:focus,
    &:hover {
      background-color: darken($color--secondary, $fib--eight);
    }
  }
}
// sass-lint:enable declarations-before-nesting
