/* Dividers */

hr {
  display: block;
  box-sizing: content-box;
  margin-top: remy(52px);
  margin-right: auto;
  margin-bottom: remy(56px);
  margin-left: auto;
  overflow: visible;
  border-width: 0;
  border-top: 1px solid $color--border;

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(62px);
    margin-bottom: remy(62px);
  }
}
