/**
 * Links
 */

a {
  color: $color--primary;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  @include transition(color);

  &:focus,
  &:hover {
    color: darken($color--primary, 13%);
    outline-width: 0;
  }

  &:hover,
  &:active {
    outline: 0;
  }

  &:active {
    color: darken($color--primary, 17%);
  }

  &:visited {
    color: darken($color--primary, 21%);
  }

  &:visited:hover {
    color: darken($color--primary, 34%);
  }
}
