/**
 * Tables
 */

.table-responsive-container {
  max-width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
  }

  th,
  td {
    white-space: nowrap;
  }
}

table {
  border-spacing: 0; 
  border-collapse: collapse;
}

th,
td {
  padding-top: remy(12px);
  padding-right: remy(15px);
  padding-bottom: remy(12px);
  padding-left: remy(15px);
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
