/**
 * Typography
 */

// Default html styles

html {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 100%;
  color: $color--black;

  @media screen and (min-width: $breakpoint--typography) {
    html {
      font-size: 18px;
    }
  }
}

// Default body styles

body {
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  margin-top: remy(104px);
  margin-bottom: remy(26px);
  font-size: remy(40px);
  line-height: remy(52px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(124px);
    margin-bottom: remy(31px);
    line-height: remy(62px);
  }
}

h2 {
  margin-top: remy(65px);
  margin-bottom: remy(13px);
  font-size: remy(27px);
  line-height: remy(39px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(77.5px);
    margin-bottom: remy(15.5px);
    line-height: remy(46.5px);
  }
}

h3 {
  margin-top: remy(52px);
  margin-bottom: remy(13px);
  font-size: remy(22px);
  line-height: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(62px);
    margin-bottom: remy(15.5px);
    line-height: remy(31px);
  }
}

h4 {
  margin-top: remy(39px);
  margin-bottom: remy(13px);
  font-size: remy(19.2px);
  line-height: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(46.5px);
    margin-bottom: remy(15.5px);
    line-height: remy(31px);
  }
}

h5 {
  margin-top: remy(65px);
  margin-bottom: remy(13px);
  font-size: remy(16px);
  line-height: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(77.5px);
    margin-bottom: remy(15.5px);
    line-height: remy(31px);
  }
}

h6 {
  margin-top: remy(65px);
  margin-bottom: remy(13px);
  font-size: remy(16px);
  font-style: italic;
  font-weight: normal;
  line-height: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(77.5px);
    margin-bottom: remy(15.5px);
    line-height: remy(31px);
  }
}


h1 + h2 {
  margin-top: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(31px);
  }
}

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: remy(13px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(15.5px);
  }
}

h5 + h6 {
  margin-top: remy(-13px);

  @media screen and (min-width: $breakpoint--typography) {
    margin-top: remy(-15.5px);
  }
}

hgroup {
  display: block;
}

abbr {
  letter-spacing: 0.1em;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  /*border-bottom: 1px dotted;*/
  border-bottom: none;
}

b,
strong {
  font-weight: bolder;
}

cite {
  display: block;
  font-style: normal;
}

dfn {
  font-style: italic;
}

figure blockquote {
  padding-top: remy(26px);
  padding-right: 0;
  padding-bottom: 0;
  padding-left: remy(26px);

  @media screen and (min-width: $breakpoint--typography) {
    padding-top: remy(62px);
    padding-right: remy(31px);
    padding-bottom: 0;
    padding-left: remy(31px);
    text-align: center;
  }
}

figure blockquote p {
  font-size: remy(27px);
  line-height: remy(39px);

  @media screen and (min-width: $breakpoint--typography) {
    line-height: remy(46.5px);
  }
}

em,
i {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  line-height: remy(13px);
  font-size: 80%;

  @media screen and (min-width: $breakpoint--typography) {
    line-height: remy(15.5px);
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


